<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <link type="text/css" rel="stylesheet" href="css/gameSettings.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<h2>Bienvenido</h2>
<div class="mainContainer">
  <form action="/game" method="post">
    <h3>Ingresa los nombres de jugadores: </h3>
    <table>
    <th>
      <td>
      <p> Jugador 1: <input class="textContainer" type='text'id="username" name='username'></p>
      </td>
      <td>
      <p>Color: <input class="colorContainer" type='color' id="color1" name='color1'></p>
      </td>

    
      <td>
      <p>Jugador 2:  <input class="textContainer" type='text' id='username2' name='username2'></p>
      <td>
      <p>Color: <input class="colorContainer" type='color' id="color2" name='color2'></p>
      </td>
    
      <td>
      <p>Jugador 3:  <input class="textContainer" type='text' id='username3' name='username3'></p>
      <td>
      <p>Color: <input class="colorContainer" type='color' id="color3" name='color3'></p>
      </td>
      
    </th>
    
    
    </table>
    <h3>Ingresa el tamanio del tablero </h3>
   <input  class="numberContainer" type='number' name='size'>
    <button id="empezar" class="btn red darken-4" type="submit" name="action">
      Empezar
    </button>
  </form>
</div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>