<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!--Import general.css-->
      <link type="text/css" rel="stylesheet" href="css/general.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <div class="div-General" style="position: absolute; top:20%; left:34%;">
            <div align='center'>
                <img src="images/DaS.png">
            </div >
            <h5 align='center'> Numero de jugadores:</h5>
           <div align='center'style="display:flex; padding-left: 2.5em;">
                 <form  style="float:left" method="post" action="/game-settings">
                    <button class="btn red darken-4" type="submit" id="2" name="action">
                    <i class="material-icons center">filter_2</i> 
                    </button>
                </form>
                <form style="float:center" method="post" action="/game-settings-3">
                    <button class="btn red darken-4" type="submit" id="3" name="action">
                    <i class="material-icons center">filter_3</i> 
                    </button>
                </form>
                <form style="float:right" method="post" action="/game-settings-4">
                    <button class="btn red darken-4" type="submit" id="4" name="action">
                    <i class="material-icons center">filter_4</i> 
                    </button>
                </form>
            </div>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>